<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>$LABEL</string>
    <key>ProgramArguments</key>
    <array>
        <string>$LAUNCHER_EXECUTABLE</string>
        <string>$PYTHON_EXECUTABLE</string>
        <string>$RUNNER_SCRIPT</string>
        <string>--trigger-type</string>
        <string>scheduled</string>
    </array>
    <key>StartCalendarInterval</key>
    <array>$SCHEDULE_INTERVALS</array>
    <key>RunAtLoad</key>
    <false/>
    <key>ProcessType</key>
    <string>Background</string>
    <key>StandardOutPath</key>
    <string>$STANDARD_OUT_PATH</string>
    <key>StandardErrorPath</key>
    <string>$STANDARD_ERROR_PATH</string>
</dict>
</plist>
